* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange-color: #f8460b;
  --primary-text-color: #222821;
  --dark-orange-color: #d13e0a;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  padding: 20px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.btn,
a.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.2rem;
  background-color: var(--orange-color);
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-orange-color);
  }
}
a.btn {
  display: block;
  text-align: center;
}

.pagination-count {
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: 0.3s ease;
}

.pagination-count.active {
  background-color: var(--orange-color);
  color: #fff;
}
